.vertical-center {
	min-height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	width: 100%;
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}
.center {
	text-align: center;
}
#defaultCountdown {
	display: inline-block;
	width: auto;
	font-size: 60vh;
	color: white;
}
#defaultCountdown.countdown_with_text {
	font-size: 24vh;
}
#defaultCountdown.counter_done {
	color: red;
}
#message_here{
	color: white;
	font-size: 10vh;
}

@media screen and (max-width: 1920px) {
	#defaultCountdown {
		font-size: 50vh;
	}
}
@media screen and (max-width: 1620px) {
	#defaultCountdown {
		font-size: 40vh;
	}
}
@media screen and (max-width: 1320px) {
	#defaultCountdown {
		font-size: 30vh;
	}
}
@media screen and (max-width: 1020px) {
	#defaultCountdown {
		font-size: 20vh;
	}
}
@media screen and (max-width: 720px) {
	#defaultCountdown {
		font-size: 15vh;
	}
}
@media screen and (max-width: 520px) {
	#defaultCountdown {
		font-size: 10vh;
	}
}