* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 13px Helvetica, Arial;
}
.vertical-center {
	min-height: 65%;
}
#controllers {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 250px;
}
#controllers .row {
	border: 1px solid black;
	height: 100%;
}
#controllers input,
#controllers textarea {
	padding: 10px;
	padding-left: 15px;
	resize: none;
	border: 1px solid black;
	font-size: 3vh;
}
#controllers button {
	background: rgb(130, 224, 255);
	padding: 10px 0px;
	border: 1px solid black;
	height: 50%;
	font-size: 24px;
}
#time_input,
#controllers textarea,
#controllers .wrapper {
	height: 100%;
}
#time_input {
	padding: 0;
}
#time_input input {
	width: 100%;
}

@media screen and (max-width: 1200px) {
	#controllers input,
	#controllers textarea {
		font-size: initial;
	}
	#time_input,
	#controllers textarea {
		height: auto;
		min-height: 30%;
	}
	#controllers button {
		height: 35%;
	}
}